.tax-top img{
	margin: auto;
	width: 400px;
	margin-bottom: 50px;
}
#tax-form{
	width: 50%;
	margin: auto;
}
#inv td {
	border-top: 1px solid red;
	border-bottom: 1px solid red;
}
#totMonthlySalary{
	width: 300px;
	height: 60px;
	margin: auto;
	border: 3px solid black;
	font-size: 150%;
}

#taxAftrInvAmtYearly, #taxAftrInvAmtMonthly{
	font-size: 200%;
	color: white;
	background-color: black;
}

#taxTable, #taxcals, .invest-rebate-section, .gender{
	width: 80%;
	margin: auto;
}

#gtotal{
	border: 2px solid red;
	font-size: 150%;
}

#ftotal{
	border: 3px solid green;
	background-color: black;
	font-size: 150%;
	color: white
}

.title{
	font-weight: bold;
}
.description{
	font-size: 80%;
	color: gray;
}
.taxableMnt{
	color: green;
}
.bottom{
	margin-bottom: 300px;
}